*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

body{
    padding: 5rem;
    margin: 5rem auto;
    display: block;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color: brown;   
}

.btn{
    display: flex;
    padding: 1rem;
}

.btn2{
    margin: 2rem;
    padding: 0.2rem;
}
